*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.group:after {
	content: "";
	display: table;
	clear: both;
}
body,
html {
	font-family: Arial, sans-serif;
	height: 100%;
}
.map {
	width: 100%;
	height: 100%;
}

.map-application {
	height: 100%;
}


header {
	position: absolute;
	top: 0;
	left: 0;
	height: 50px;
	padding: 15px;
	z-index: 9;
	width:100%;
	text-align: center;
	background: transparent;
}
.sidebar {
	box-shadow: none;
}
.sidebar-tabs {
	background: transparent;
}
.sidebar-tabs li {
	border-radius: 5px;
}
.sidebar-tabs li:hover {
	
}
.csv-list {
	list-style-type: none;
	font-family: 'Walter Turncoat', cursive;
}
.csv-list  li {
	padding: 5px 0;
}
.csv-list a {
	text-decoration: none;
	color: #363636;
}
.csv-list a:hover {
	color: #347187;
}
#isla-de-providencia {
	font-size: 24px;
}
#san-andr-s-and-providencia {
	font-size: 24px;
}
.leaflet-popup-content {
	font-family: 'Walter Turncoat', cursive;
	font-size: 14px;
	color: #363636;
}