*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.group:after {
	content: "";
	display: table;
	clear: both;
}
body,
html {
	font-family: 'Open Sans', sans-serif;
	height: 100%;
	overflow: hidden;
}
.map {
	width: 100%;
	height: 100%;
}

.map-application {
	height: 100%;
}


header {
	position: absolute;
	top: 0;
	left: 0;
	height: 50px;
	padding: 15px;
	z-index: 9;
	width:100%;
	text-align: center;
	background: transparent;
}
.sidebar {
	box-shadow: none;
}
.sidebar-tabs {
	background: #e95c51;
}
.sidebar-tabs li {
	border-radius: 5px;
}
.sidebar-tabs li:hover {
	
}
.csv-list {
	list-style-type: none;
	font-family: 'Open Sans', sans-serif;
}
.csv-list a {
	text-decoration: none;
	color: #4e4e4e;
	font-size: 0.8em;
	display: block;
	padding: 10px 0 10px 10px;
}
.csv-list a:hover {
	color: #e95c51;
}
.providencia-y-santa-catalina {
	font-size: 24px;
	font-weight: 700;
	background: #e95c51;
	margin-bottom: 15px;
	border: 0;
}
.providencia-y-santa-catalina a {
	color: #fff;
	padding: 5px 15px;
}
.item-list.providencia-y-santa-catalina .current {
	color: #9D3831;
}
.providencia-y-santa-catalina a:hover {
	color: #9d3831;
}
.san-andr-s {
	font-size: 24px;
	font-weight: 700;
	background: #e95c51;
	margin-top: 25px;
	margin-bottom: 15px;
	border: 0;
}
.san-andr-s a {
	color: #fff;
	padding: 5px 15px;
}
.item-list.san-andr-s .current {
	color: #9D3831;
}
.san-andr-s a:hover {
	color: #9d3831;
}
.leaflet-popup-content {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #363636;
	max-height: 320px;
	overflow-y: scroll;
}
#seed {
	display: none;
	position: absolute;
	right: 0;
	top: 0;
}
.offline-info {
	text-align: center;
}
.sidebar-tabs > li.active, .sidebar-tabs > ul > li.active {
	background: #e95c51;
}
.sidebar-pane {
	padding: 0;
	padding: 20px;
	height: 300px;
}
.sidebar-content {
	overflow: hidden;
	height: 300px;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.65);
}
.faqs-content {
	color: #191919;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.9em;
}
.faqs-content h1 {
	font-weight: 700;
	font-size: 1.5em;
	color: #e95c51;
	border-bottom: solid 3px #e95c51;
	margin-bottom: 15px;
	padding-bottom: 15px;
}
.faqs-content h2 {
	font-weight: 400;
	font-size: 1.3em;
	margin-bottom: 15px;
	margin-top: 30px;
}
.faqs-content p {
	font-family: 'PT Serif', serif;
	font-size: 0.85em;
	color: #444444;
	margin-bottom: 15px;
	line-height: 1.7em;
}
._mCS_2 {
	background: #fff;
}
.main-title h2 {
	margin-top: 0;
}
.leaflet-popup-content h1 {
	font-size: 1.3em;
	color: #e95c51;
	margin-bottom: 15px;
}
.leaflet-popup-content p {
	font-family: 'PT Serif', serif;
	font-size: 0.85em;
	color: #444444;
	margin-bottom: 15px;
	line-height: 1.7em;
}
.item-list {
	border-left: solid 3px transparent;
}
.freshwater-bay {
	border-color: #86BBD4;
}
.freshwater-dam {
	border-color: #86BBD4;
}
.estadio-de-softball-de-maracaibo {
	border-color: #C86550;
}
.coliseo-de-black-sand-bay {
	border-color: #C86550;
}
.casa-de-la-cultura-de-santa-isabel {
	border-color: #C86550;
}
.casa-l-dica {
	border-color: #C86550;
}
.casa-de-la-m-sica {
	border-color: #C86550;
}
.iglesia-cat-lica-central-y-convento {
	border-color: #C86550;
}
.iglesia-cat-lica-de-lazy-hill {
	border-color: #C86550;
}
.iglesia-cat-lica-de-rocky-point {
	border-color: #C86550;
}
.iglesia-bautista-central {
	border-color: #C86550;
}
.iglesia-bautista-central {
	border-color: #C86550;
}
.iglesia-bautista-salt-creek {
	border-color: #C86550;
}
.iglesia-bautista-de-rocky-point {
	border-color: #C86550;
}
.iglesia-adventista-de-rocky-point {
	border-color: #C86550;
}
.iglesia-bautista-de-bottom-house {
	border-color: #C86550;
}
.iglesia-cat-lica-de-bottom-house {
	border-color: #C86550;
}
.iglesia-cat-lica-de-bottom-house {
	border-color: #C86550;
}
.iglesia-cat-lica-de-santa-catalina {
	border-color: #C86550;
}
.carreras-de-caballo-en-southwest-bay {
	border-color: #C86550;
}
.fair-table-mountain {
	border-color: #C86550;
}
.fair-table-en-old-town {
	border-color: #C86550;
}
.fair-table-en-lazy-hill {
	border-color: #C86550;
}
.fair-table-en-southwest-bay {
	border-color: #C86550;
}
.southwest-bay {
	border-color: #C86550;
}
.manchneel-bay {
	border-color: #C86550;
}
.old-town {
	border-color: #8D8B8B;
}
.item-list .current {
	color: #9c9c9c;
}
.pesca-artesanal-en-cayo-roncador {
	border-color: #EED349;
}
.pesca-artesanal-en-banco-serrana {
	border-color: #EED349;
}
.pesca-artesanal-en-banco-quitasue-o {
	border-color: #EED349;
}
.pesca-artesanal-en-banco-serrana {
	border-color: #EED349;
}
.navegaci-n-salida-de-carreras-catboats {
	border-color: #D0D96F;
}
.manglar-de-santa-catalina {
	border-color: #D0D96F;
}
.mc-bean-lagoon {
	border-color: #D0D96F;
}
.manglar-de-southwest-bay {
	border-color: #D0D96F;
}
.the-peak {
	border-color: #D0D96F;
}
.constant-spring {
	border-color: #86BBD4;
}
.velodia-well {
	border-color: #86BBD4;
}
.simpson-well {
	border-color: #86BBD4;
}
.lynval-well {
	border-color: #86BBD4;
}
.jack-pond {
	border-color: #86BBD4;
}
.big-pond {
	border-color: #86BBD4;
}
.miss-kenny-pond {
	border-color: #86BBD4;
}
.little-pond {
	border-color: #86BBD4;
}
.manuel-pond {
	border-color: #86BBD4;
}
.casa-tradicional-con-cisterna {
	border-color: #86BBD4;
}
.estadio-de-baseball {
	border-color: #C86550;
}
.softball-en-sound-bay {
	border-color: #C86550;
}
.ballfield-en-brooks-hill {
	border-color: #C86550;
}
.coliseo-de-ginnie-bay {
	border-color: #C86550;
}
.tamarind-tree-cultural-center {
	border-color: #C86550;
}
.the-ranch {
	border-color: #C86550;
}
.casa-de-la-cultura {
	border-color: #C86550;
}
.primera-iglesia-bautista {
	border-color: #C86550;
}
.iglesia-bautista-christian-mission {
	border-color: #C86550;
}
.catedral-de-la-sagrada-familia {
	border-color: #C86550;
}
.iglesia-cat-lica-de-san-luis {
	border-color: #C86550;
}
.iglesia-adventista-de-la-loma {
	border-color: #C86550;
}
.iglesia-adventista-de-san-luis {
	border-color: #C86550;
}
.iglesia-adventista-del-s-ptimo-d-a {
	border-color: #C86550;
}
.mezquita {
	border-color: #C86550;
}
.carreras-de-caballo-en-el-horse-track {
	border-color: #C86550;
}
.caballos-en-sound-bay {
	border-color: #C86550;
}
.pelea-de-gallos-en-san-luis {
	border-color: #C86550;
}
.fair-table-en-perry-hill {
	border-color: #C86550;
}
.fair-table-en-orange-hill {
	border-color: #C86550;
}
.fair-table-en-barrack {
	border-color: #C86550;
}
.fair-table-en-schooner-bight {
	border-color: #C86550;
}
.domin-en-primera-iglesia-bautista {
	border-color: #C86550;
}
.domin-cerca-a-fisherman-s-place-en-sarie-bay {
	border-color: #C86550;
}
.spratt-bight {
	border-color: #C86550;
}
.sound-bay {
	border-color: #C86550;
}
.slave-hill {
	border-color: #8D8B8B;
}
.battle-alley {
	border-color: #8D8B8B;
}
.orange-hill {
	border-color: #8D8B8B;
}
.barrack {
	border-color: #8D8B8B;
}
.duppy-gully {
	border-color: #8D8B8B;
}
.schooner-bight {
	border-color: #8D8B8B;
}
.molienda-de-ca-a {
	border-color: #EED349;
}
.pesca-artesanal-en-cayo-bol-var {
	border-color: #EED349;
}
.pesca-artesanal-en-cayo-alburbeque {
	border-color: #EED349;
}
.sitio-de-navegaci-n-schooner-bight {
	border-color: #EED349;
}
.humedal-en-el-centro {
	border-color: #D0D96F;
}
.humedal-en-san-luis {
	border-color: #D0D96F;
}
.cueva-de-morgan {
	border-color: #D0D96F;
}
.morris-landing-cave {
	border-color: #D0D96F;
}
.the-cliff {
	border-color: #D0D96F;
}
.cocoplum-bay-rocky-cay {
	border-color: #D0D96F;
}
.hooker-bay {
	border-color: #D0D96F;
}
.leaflet-control-attribution  {
	display: none;
}
.remodal {
	max-width: 400px;
}
.remodal img {
	max-width: 100%;
}
.remodal .img-container {
	max-width: 100%;
}
.remodal h4 {
	font-size: 0.80em;
	color: #606060;
	font-weight: 400;
}
.ubicacion {
	position: absolute;
	right: 0;
	bottom: 1px;
	width: 140px;
	height: 120px;
	z-index: 1;
	overflow: hidden;
}
.ubicacion img {
	width: 100%;
}
.container-img {
	width: 120px;
	float: left;
}
#slider-ubicacion {
	float: left;
	width: 20px;
	height: 120px;
	padding-top: 55px;
	background: #e95c51;
	color: #fff;
	text-align: center;
}
#slider-ubicacion:hover {
	background: #9d3831;
}
.ubicacion.visible {
	right: 0;
}
.ubicacion.hidden {
	right: -120px;
}


.tipologia {
	position: absolute;
	left: 0;
	bottom: 1px;
	width: 600px;
	height: 150px;
	z-index: 1;
	overflow: hidden;
	background: #fff;
}
.tipologia h2 {
	color: #e95c51;
}
.tipologia img {
	width: 100%;
}
.container-info {
	font-size: 0.8em;
	color: #4e4e4e;
	overflow: hidden;
}
.container-info h2 {
	color: #e95c51;
}
.container-info .col-3 ul {
  list-style-type: none;
  padding-left: 0;
}
.container-info .col-3 {
	width: 33.333%;
	float: left;
}
.container-info .text {
	margin-top: 3px;
}
.container-info li {
	margin: 15px 0;
	display: block;
	overflow: hidden;
}
.container-info span {
	float: left;
}
.container-info .icon {
	width: 20px;
	height: 20px;
	margin-right: 5px;
}
.icon-agua {
	background: url('../images/icon-agua.png');
	background-size: cover;
}
.icon-historia {
	background: url('../images/icon-historia.png');
	background-size: cover;
}
.icon-naturaleza {
	background: url('../images/icon-naturaleza.png');
	background-size: cover;
}
.icon-actividades {
	background: url('../images/icon-actividades.png');
	background-size: cover;
}
.icon-recreacion {
	background: url('../images/icon-recreacion.png');
	background-size: cover;
}
.icon-historico {
	background: url('../images/icon-historico.png');
	background-size: cover;
}
.icon-bote {
	background: url('../images/icon-bote.png');
	background-size: cover;
}
.icon-cultura {
	background: url('../images/icon-cultura.png');
	background-size: cover;
}
.icon-catboat {
	background: url('../images/icon-catboat.png');
	background-size: cover;
}
.icon-humedal {
	background: url('../images/icon-humedal.png');
	background-size: cover;
}
.icon-fair {
	background: url('../images/icon-fair.png');
	background-size: cover;
}
.icon-pozos {
	background: url('../images/icon-pozos.png');
	background-size: cover;
}
#slider-tipologia {
	float: right;
	width: 40px;
	height: 150px;
	padding-top: 65px;
	background: #e95c51;
	color: #fff;
	text-align: center;
}
#slider-tipologia:hover {
	background: #9d3831;
}
.tipologia.visible {
	left: 0;
}
.tipologia.hidden {
	left: -580px;
}
.leaflet-bar a, .leaflet-bar a:hover {
	box-shadow: none;
	background: #e95c51;
	color: #fff;
	border: 0;
	height: 40px;
	line-height: 40px;
	width: 40px;
}
.leaflet-bar {
	border-radius: 0;
	box-shadow: none;
}
.leaflet-bar a:first-child {
	border-radius: 0;
}
.leaflet-bar a:last-child {
	border-radius: 0;
}
.sidebar-left {
	left: 0;
	border-radius: 0;
	top: 0;
	z-index: 1;
	height: 100%;
}
.sidebar-tabs > li, .sidebar-tabs > ul > li {
	color: #fff;
	background: #e95c51;
	border-radius: 0;
}
.sidebar-tabs li a:hover {
	background: #9D3831;
	color: #fff;
}
.leaflet-top .leaflet-control {
	margin: 0;
}
.leaflet-bar a.leaflet-disabled {
	background: #e95c51;
	color: #fff;
	opacity: 0.5;
}
.leaflet-bar a:hover {
	background: #9D3831;
	color: #fff;
}
@media screen and (max-width: 768px) {
    .leaflet-right {
		right: 40px;
	}
}